# Ansible Role: {{ role_name | title }}

[![Build Status](https://travis-ci.org/polymimetic/ansible-role-{{ role_name }}.svg?branch=master)](https://travis-ci.org/polymimetic/ansible-role-{{ role_name }})
[![License: MIT](https://img.shields.io/badge/license-MIT%20License-brightgreen.svg)](https://opensource.org/licenses/MIT)
[![Ansible Galaxy](https://img.shields.io/badge/galaxy-polymimetic.{{ role_name }}-blue.svg?style=flat)](https://galaxy.ansible.com/polymimetic/{{ role_name }}/)

A brief description of the role goes here.

## Installation

Use the `ansible-galaxy` command to download roles from the [Ansible Galaxy](https://galaxy.ansible.com/) website.

```bash
$ ansible-galaxy install polymimetic.{{ role_name }}
```
It is also possible to install the role directly from the git repository.

```bash
$ ansible-galaxy install git+https://github.com/polymimetic/ansible-role-{{ role_name }}.git
```

You can add this role as a dependency for other roles by adding the role to the `meta/main.yml` file of your own role:

```yaml
dependencies:
  - { role: polymimetic.{{ role_name }} }
```

For more information on installing Ansible roles, including via a `requirements.yml` file, please see the [Ansible Galaxy documentation](http://docs.ansible.com/ansible/latest/galaxy.html#installing-roles).

## Requirements

No requirements.

## Dependencies

No dependencies.

## Role Handlers

Available handlers are listed below, along with default values (see `handlers/main.yml`):

| Name                      | Type    | Description                    |
| :------------------------ | :------ | :----------------------------- |
| `{{ role_name }} restart` | Service | Restart {{ role_name }} server |

## Role Variables

Available variables are listed below, along with default values (see `defaults/main.yml`):

| Variable   | Default | Type   | Description      |
| :---       | :---    | :----- | :---             |
| `role_var` | -       | string | PURPOSE          |

## Example Playbook

To run the role, include it as follows:

    - hosts: all
      roles:
         - { role: polymimetic.{{ role_name }}, x: 42 }

## Testing

To run the test playbook(s) in `tests` directory:

  1. Install and start [Docker](https://www.docker.com/).
  2. Download the test shim into `tests/test.sh`:
    - `wget -O tests/test.sh https://raw.githubusercontent.com/polymimetic/ansible-utility-belt/master/scripts/test.sh`
  3. Make the test shim executable: `chmod +x tests/test.sh`.
  4. Run (from the role root directory) `distro=[distro] playbook=[playbook] ./tests/test.sh`

If you don't want the container to be automatically deleted after the test playbook is run, add the following environment variables: `cleanup=false container_id=$(date +%s)`

## Credits

This role takes inspiration from the following Ansible roles:

- [geerlingguy.git](https://github.com/geerlingguy/ansible-role-git)

## License

This software package is licensed under the [MIT License](https://opensource.org/licenses/MIT). See the [LICENSE](./LICENSE) file for details.

## Author Information

This role was created in 2017 by [Polymimetic](https://github.com/polymimetic).

* ansible-role-{{ role_name }} generated using [ansible-role-skeleton](https://github.com/polymimetic/ansible-role-skeleton)
